<div class="txt cond {{ 'red' if b.red }}" style="text-align: {{ b.align }}; font-weight: {{ 800 if b.bold else 500 }}">
{% for line in b.lines %}<div class="ellipsis">{{ line or ' ' }}</div>{% endfor %}
</div>
